<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/index.css" />
    <title>full_stack_app</title>
</head>

<body>
    <header>
        <nav class="nav-top">
            <button type="button">
                <a href="./index.html" class="Home">Home</a>
            </button>
            <a>|</a>
            <button type="button">
                <a href="./profil.html" class="Profil">Profil</a>
            </button>
            <a>|</a>
            <button type="button">
                <a href="./signup.html" class="Signup">Signup</a>
            </button>
            <a>|</a>
            <button type="button">
                <a href="./login.html" class="Login">Login</a>
            </button>
        </nav>
    </header>
    <div class="recenter">
        <form class="loginForm">
            <label>username</label>
                <input/>
            <label>password</label>
                <input/>
            <input type="submit" class="submit" value="Submit"/>
        </form>
    </div>
    <footer>
        <nav class="nav-bottom">
            <button type="button">
                <a href="#" class="LogOut">Logout</a>
            </button>
        </nav>
    </footer>
</body>

</html>