html{
    scrollbar-color: rgb(103, 116, 251) rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

:root {
    --purple: #6774fb;
    --purple-back: #5865F2;
    --white: #fff;
    --dark-1: #282C34;
    --dark: #000;
    --red: #dc2f2f;
    --dark-dark: #202225;
}

.dark-mode {
    background-color: var(--white);
    color: var(--dark);
}
body{
    margin: 0;
    font-family: system-ui;
    transition: 1s ease;
}
nav{
    background-color: var(--dark-1);
    padding: 20px;
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    list-style-type: none;
    margin: 0;
}
li{
    padding: 10px;
    color: #fff;
    background-color: var(--purple);
    margin: 0 5px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    border-radius: 6px;
}
li a{
    text-decoration: none;
    color: #fff;
}
.home-section{
    height: 100vh;
    padding: 20px;
}
h2{
    font-weight: 900;
    color: var(--purple);
    font-size: 30px;
}
footer{
    background-color: var(--dark-1);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
}
footer a{
    background: var(--red);
    color: #fff;
    padding: 10px;
    font-weight: 600;
    border-radius: 4px;
}
form{
    background-color: #36393F;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 30px;
    border-radius: 6px;
    width: 400px;
    animation: bounceIn;
    animation-duration: 1s;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 7px;
}
form h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    text-align: center;
}
form input{
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: var(--dark-dark);
    color: #fff;
    transition: 0.5s;
}
form input:focus{
    background-color: #2c2e32;
    outline: none;
    transition: 0.5s;
}
form label{
    color: #B9BBBE;
    font-weight: 600;
    font-size: 13px;
    padding-top: 20px;
    text-transform: uppercase;
    padding-bottom: 5px;
}
.login-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 81.3333px);
    padding: 0 10px;
}
form button{
    margin: 20px 0px;
    margin-bottom: 0px;
    padding: 10px;
    background-color: var(--purple);
    border: none;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    transition: 1s;
}
form button:hover{
    background-color: var(--purple-back);
    transition: 1s;
}
abbr{
    text-decoration: none;
    color: var(--red);
}

form a{
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    color: #00AFF4;
    margin-top: 5px;
}
form p{
    margin: 0;
    margin-top: 5px;
    color:#9a9aaf;
    font-size: 13px;
}
.sous-h3{
    font-size: 17px;
    text-align: center;
    font-weight: 600;
}

a{
    text-decoration: none;
}

@media screen and (max-width: 770px) {
    .login-section{
        height: calc(100vh);
    }
}

body{
    background-color: var(--dark-dark);
}